@model BuildBlog.Models.BlogEntry

@{
    ViewData["Title"] = "Edit Post";
}



<h5 class="mb-4">Edit post</h5>
<div>

    <form asp-controller="Blog" asp-action="Edit" method="POST">
        <input hidden asp-for=Id />
        <textarea asp-for="Content" id="editor"></textarea>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
        <a class="btn btn-secondary mt-4" asp-action="Index">Back</a>
    </form>
</div>